* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}

/*Reglas generales columnas y filas*/

[class*="col-"]{
	float: left;
}
.row {
	width: 100%;
	height: auto;
	clear: both;
}

.col-12 {width: 100%;}
.col-4 {width: 33.33%;}
.col-8 {width: 66.66%;}

/*Barra de navegacion*/
nav {
	background: #343A40;
	color:#FFFFFF;
	height: 50px;
}

#menu,
#hamburger-menu {
	float: right;
}

#gray-area {
	background: #CCCCCC;
	color:#FFFFFF;
	text-align: center;
	height: 400px;
	font-size: 80px;
}

#gray-area div {
	padding-top: 7%;
}

nav #page-title {
	display: inline-block;
	padding-left:7%;
}

nav #menu{
	display: inline-block;
	padding-right: 7%;
}

#hamburger-menu {
	padding-right: 7%;
	display: none;
}

nav #page-title,
nav #menu,
#hamburger-menu {
	padding-top: 1.5%;
}

nav #menu span{
	padding: 3px;
	color:#969696;
}

nav #menu span:hover {
 color: #FFFFFF;
}
/*Cajas What We Do & Contact Us*/

.what-we-do h2,
.contact-us h2 {
	font-size: 30px;
}

.what-we-do,
.contact-us  {
	padding-top: 3%;
}

.what-we-do{
	padding-left: 8%;
	padding-right: 5%;
}
.what-we-do p,
#call-btn{
	margin:2% 0;
}

#call-btn {
	background: #007BFF;
	color: #FFFFFF;
	padding:15px;
	border-radius: 10px;
}

/*Seccion de cajas con imagenes*/

.box{
	border: solid #CCCCCC 1px;
	width: 65%;
	height: 100vh;
}

.image-container img{
	width:100%;
	height: 45vh;
	display: block;
}
.box-content{
	display: block;
	width: 100%;
	height: 43vh;
}

.btn-container{
	width:100%;
	display: block;
	height: 12vh;
	background:#F2F2F3;
}

.btn-find-more{
	background: #007BFF;
	color: #FFFFFF;
	padding:10px;
	border-radius: 8px;
}

.box-content,
.btn-container {
	padding:2%;
}

#box-one{
float: right;
}

#box-two {
	margin: auto;
}
#box-three{
	float:left;
}


/*footer*/

footer {
	background: #343A40;
	color: white;
	text-align: center;
	font-size: 10px;
	padding: 3%;
	margin-top: 5%;	
	margin:0;
}

/*Diseño Responsive*/

@media (max-width: 768px) {
	.col-12-mobile {width: 100%;}

	.contact-us {
		padding-left: 8%;
	}
	.box{
		width: 100%;
	}

	.image-container img{
		height: 45vh;
	}
	.box-content{
		height: 43vh;
	}

	.btn-container{
		height: 12vh;
	}
	#hamburger-menu{
		display: block;
	}
	nav #menu {
		display: none;
	}
}



/*
word wrap: break-word;
visibility: hidden (solo quita la visibilidad)*/